@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

*{
  overflow: hidden;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
.active{
  background: transparent !important;
  color: red !important;
  font-weight: 700 !important;
  border-radius: 50px !important;
}
ul > li{
  background: transparent !important;
  color: black !important;
  font-weight: 700 !important;
  border-radius: 50px !important;
}
ul > li :hover{
  background: transparent !important;
  animation-duration: 700ms !important;
  color: red !important;
  font-weight: 700 !important;
  border-radius: 50px !important;
}